# macOS
.DS_Store

# editor
.config/zed/conversations
.config/zed/prompts
.config/zed/themes
.ruby-lsp/
github-copilot/

# command line tools
.config/gh/
.config/btop/
.config/htop/
.config/git/config.local

# used for testing scripts
testing/

# used for installation state
.state/
