# macOS
.DS_Store

# editor
.ruby-lsp

# used for testing scripts
testing/testing.sh

# sync
.config/btop
.config/gh
.config/gh-copilot
.config/git/config.local
.config/github-copilot
.config/htop
.config/swiftpm
.config/zed/conversations
.config/zed/prompts
.config/zed/themes
.config/karabiner/automatic_backups
